# Compiled output
dist
dist-ssr
coverage

# Node
node_modules
npm-debug.log*
yarn-error.log*

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea/

# Misc
*.local
.vite

# System files
.DS_Store
Thumbs.db